/* Hoja de estilos del desafío 1.11 */

:root {
  --rosa: #fc4e8c;
  --celeste: #09e1ef;
  --negro: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 239, 255, 1) 34%,
    rgba(242, 255, 241, 1) 69%,
    rgba(254, 235, 255, 1) 100%
  );
  color: #141843;
}

.cards {
  display: flex;
  margin: 100px 0;
  width: 80%;
  max-width: 850px;
  padding: 60px;
  justify-content: center;
  align-items: stretch;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px gray;
  gap: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 40px 10px 60px 10px;
  width: 30%;
}

.price-all {
  display: flex;
  flex-direction: column;
}

.symbol-number {
  display: flex;
  gap: 3px;
  align-items: baseline;
}

.symbol {
  font-weight: 600;
}

.number {
  font-size: 34px;
  font-weight: 800;
}

.price-tip {
  font-size: 12px;
  font-weight: 300;
}

button {
  width: fit-content;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: inherit;
  cursor: pointer;
  font-weight: 600;
  color: #000000;
}

#free {
  background-color: var(--rosa);
}

#standart {
  background-color: var(--celeste);
}

#premium {
  background-color: var(--negro);
  color: antiquewhite;
}

@media (max-width: 768px) {
  .cards {
    margin: 50px 0;
    width: 95%;
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .cards {
    margin: 0;
  }
}
/*
576px
768px
992px
1200px
1400px
*/
